.app{
  height: 100vh;
  .section {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    background-color: lightsalmon;

    > *{
      width: 100wv;
      height: calc(100vh - 70px);
    }
  }
}