
@import "../../global.scss";

.home {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  .imgContainer {
    min-width: 370px;
    min-height: 370px;
    max-width: 600px;
    max-height: 600px;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    background-color: $backgroundcolor;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    img{
      height: 105%;
    }
  }
  .aboutTextContainer{
    text-align: right;
    h2{
      font-size: 60px;
    }
    p{
      margin-top: 10px;
      font-size: 40px;
    }
  }
      

    a{
      position: absolute;
      bottom: 2vh;
        img{
          width: 30px;
          animation: blink 4s infinite;
        }
        @keyframes blink {
          50%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        }
        &.left{
          left: 5vw;
        }
        &.right{
          right: 5vw;
        }
      }
      
  }
  @media screen and (max-width:900px) {
    .home {
    flex-direction: column;  
    justify-content: space-around;
    .aboutTextContainer{
      text-align: right;
      h2{
        font-size: 40px;
      }
      p{
        font-size: 20px;
      }
    }
    }
  }