@import "../../global.scss";

.header {
  width: 100%;
  height: 70px;
  background-color: $backgroundcolor;
  position: fixed;
  top: 0;
  z-index: 2; 
  display: flex;
  align-items: center;
  justify-content: space-between;

      .logo {
        margin: 5px 0 0 20px;
        img {
          width: 60px;
          height: 60px;
          object-fit: contain;
        }
      }

      ul{
        font-size: 30px;
        color: white;
        display: flex;
        li {
          margin-right: 
          20px;
        }
      }

      .hamburger{
        display: none;
        margin: 0 20px 0 0;
        width: 32px;
        height: 25px;
        padding: 10px;
        z-index: 2;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span{
          width:100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 1s ease;
        }
      }

      @media screen and (max-width:768px) {
        ul{
          padding-inline-start: 0;
          opacity: 0.8;
          width: 40%;
          height: calc(100vh - 70px);
          background-color: $backgroundcolor;
          position:fixed;
          top: 70px;
          right: -40%;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          margin: 0;
          transition: all 1s ease;
        }
        .hamburger{
          display: flex;
        }
        &.active{
          ul{
            opacity: 0.8;
            width: 40%;
            height: calc(100vh - 70px);
            background-color: $backgroundcolor;
            position:fixed;
            top: 70px;
            right: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 0;
          }
          .hamburger{
            span{
              &:first-child{
                transform: rotate(45deg);
              }
              &:nth-child(2){
                opacity: 0;
              }
              &:last-child{
                transform: rotate(-45deg);
              }
            }
          }
        }
      }

  
  
}

