.intro {
  background-color: lightpink;
  display: flex;
  .left {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgContainer {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    background-color: lightcoral;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    img{
      height: 105%;
    }
  }
  }
  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2{
        font-size: 60px;
      }
    }
    a{
      position: absolute;
      bottom: 10px;
      left: 40%;
        img{
          width: 30px;
          animation: blink 4s infinite;
        }
        @keyframes blink {
          50%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        }
    }
  }
}